@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Open Sans, system-ui, sans-serif;
  }

  .col-span-1 ul {
    display: flex;
  }

  .col-span-1 li {
    margin-right: 10px;
  }
}