@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Open Sans, system-ui, sans-serif;
  }
}

/***************** LOGO SPIN ANIMATION *******************/

.img--spin{
  -webkit-animation: spin 5s infinite;
   animation: spin 5s infinite;
   animation-iteration-count: 1;
}

@-webkit-keyframes spin{
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin{
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}